<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB6ciCE1qxDV5oHTtb3eB-sZ-2D9kG3c0</string>
	<key>GCM_SENDER_ID</key>
	<string>633689324507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eggvy.app</string>
	<key>PROJECT_ID</key>
	<string>eggvylite-9097c</string>
	<key>STORAGE_BUCKET</key>
	<string>eggvylite-9097c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633689324507:ios:12ba0a24c7a68004b805fe</string>
</dict>
</plist>